/* Manually sets font sizes since tags do not work properly with tailwind */
h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

#storyCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 2%;
    padding: 2% 10%;
}

/* Aligns dropdown title with arrow */
.dropdown-title {
    cursor: pointer;
    padding: 5px;
    padding-left: 10%;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Rotates dropdown arrow when selected */
.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}
  
/* Aligns dropdown content when showing */
.dropdown-content {
    margin-top: 10px;
    padding: 10px 10%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Aligns content when showing with pink background */
.dropdown-content-pink {
    margin-top: 10px;
    padding: 10px 10%;
    background-color: #fda4af;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.graceFirestone {
    margin: 10px;
    padding: 2% 8%;
}

.graceImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Aligns the heart attack vs sca info */
#heartAttackVSsca {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2% 8%;
}

/* Centers the items inside the heart attack vs sca boxes */
.infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fecdd3;
    width: 45%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Adds separation between paragraph sections */
.paragraph-separation {
    margin-bottom: 10px;
}

#articles {
    padding: 2% 0%;
}

#articleCards {
    display: flex;
    flex-direction: column;
}

/* Media Query for mobile screens */
@media (max-width: 768px) {
    #heartAttackVSsca {
        flex-direction: column;
        align-items: center;
    }

    .infoBox {
        width: 100%; 
        margin-bottom: 20px; 
    }
}