h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}


/* Aligns dropdown title with arrow */
.dropdown-title {
    cursor: pointer;
    padding: 5px;
    padding-left: 10%;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Rotates dropdown arrow when selected */
.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
}
  
/* Aligns dropdown content when showing */
.dropdown-content {
    margin-top: 10px;
    padding: 10px 10%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.graceFirestone {
    margin: 10px;
    padding: 2% 8%;
}

/* Adds separation between paragraph sections */
.paragraph-separation {
    margin-bottom: 10px;
}

#articles {
    padding: 2% 0%;
}

#articleCards {
    display: flex;
    flex-direction: column;
}

#articles {
    background-color: #F88181;
    align-self: center;
}