.MainText{
    display: flex;   
}

.Text{
    margin-top: 200px;
    margin-right: 50px;
}

.name-input
{
    margin-top: 10px;
    width: 250px;
    height: 50px;
    border: 1px solid rgb(253 164 175);;
    padding-left: 10px;
    background-color: #f4f4f4; 
}

.email-input
{
    margin-top: 10px;
    width: 540px;
    height: 50px;
    border: 1px solid rgb(253 164 175);;
    padding-left: 10px;
    background-color: #f4f4f4; 
}

.message-input
{
    margin-top: 10px;
    width: 540px;
    height: 150px;
    border: 1px solid rgb(253 164 175);;
    padding-left: 10px;
    background-color: #f4f4f4; 
}
