.articleCard {
    margin: 1% 8%;
    background-color: black;
    color: white;
    padding: 2% 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.articleCard:hover {
    transform: scale(1.05); 
}

.date {
    color: grey;
}

.verticalBundle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}