/* Allows each article to have its own card */
.articleCard {
    margin: 1% 10%;
    background-color: black;
    color: white;
    padding: 2% 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: transform 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

/* Adds hover motion to article cards */
.articleCard:hover {
    transform: scale(1.05); 
}

.date {
    color: grey;
}

/* Aligns items vertically to the left of the card */
.verticalBundle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}