.storyCard {
    background-color: #fecdd3;
    border-radius: 10%;
    margin: 4%;
    padding: 4%;
}

/* Aligns items vertically in the center of the card */
.verticalBundle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    border-radius: 50%;
}